.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  background-color: #f0f0f0;
  font-family: Raleway;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  gap: 10px;
  font-size: large;
  text-align: justify;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin: 0 auto; 
}

h1 {
  color: #202a2f;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

label {
  font-weight: bold;
  color: #202020;
  font-size: medium;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 24px;
  width: 100%;
  margin: 0.3rem;
}

button {
  background-color: rgb(215, 240, 246);
  padding: 10px;
  color: #231c28;
  border: #a4dbf9;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 24px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  user-select: none;
  box-shadow: #241031;
  font-weight: bold;
  margin: 1rem 0;
}

button:hover {
  background-color: rgb(67, 135, 152);
}

.parrafo {
  text-align: center;
  color: #202020;
  font-weight: bold;
  margin-top: 1rem; 
}
